body {
    font-family: Arial, sans-serif;
    background: url('../icons/backround.jpg') no-repeat center center/cover; /* Фон-картинка */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
}

#admin-panel {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    justify-content: center;
}

.file-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

.file-card:hover {
    transform: scale(1.05);
}

.file-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.file-card a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: darkred;
}

.hidden {
    display: none;
}


.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #b399ff;
    text-transform: uppercase;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #b399ff;
    text-shadow: 0 0 5px rgba(179, 153, 255, 0.8);
}
